@media (max-width: 768px) {
    form {
        height: 90vh;
        width: 90vw;
    }

    input[type="text"], input[type="password"] {
        height: 3rem;
        width: 75vw;
        font-size: 1rem;
    }

    button {
        height: 3rem;
        width: 50vw;
        border-radius: 25px;
    }
}